In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(" EXTRACTED_THEATER.xlsx")

In [3]:
df.shape

(774, 16)

In [4]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country
0,Nov 10-12,https://www.boxofficemojo.com/weekend/2023W45/...,-,-,-,-,-,-,NaN,Not found,-,-,45,https://www.boxofficemojo.com/weekend/2023W45/...,False,Canada
1,Nov 3-5,https://www.boxofficemojo.com/weekend/2023W44/...,-,-,-,-,-,-,NaN,Not found,-,-,44,https://www.boxofficemojo.com/weekend/2023W44/...,False,Canada
2,Nov 10-12,https://www.boxofficemojo.com/weekend/2023W45/...,-,-,-,-,-,-,NaN,Not found,-,-,45,https://www.boxofficemojo.com/weekend/2023W45/...,False,Canada
3,Nov 3-5,https://www.boxofficemojo.com/weekend/2023W44/...,-,-,-,-,-,-,NaN,Not found,-,-,44,https://www.boxofficemojo.com/weekend/2023W44/...,False,Canada
4,Nov 10-12,https://www.boxofficemojo.com/weekend/2023W45/...,-,-,-,-,-,-,NaN,Not found,-,-,45,https://www.boxofficemojo.com/weekend/2023W45/...,False,Canada

In [5]:
df.tail()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country
769,Jan 15-19,https://www.boxofficemojo.com/weekend/2025W03/...,"$20,667",0.736,"$20,667",0.736,3,Wolf Man,https://www.boxofficemojo.com/release/rl153845...,Horror,-,-,3,https://www.boxofficemojo.com/weekend/2025W03/...,False,Trinad & Tobago
770,Mar 14-16,https://www.boxofficemojo.com/weekend/2025W11/...,"$3,048,380",-0.216,"$4,114,705",-0.234,60,Wolfgang (extraordinari),https://www.boxofficemojo.com/release/rl146338...,"Drama, Family",-,-,11,https://www.boxofficemojo.com/weekend/2025W11/...,False,Spain
771,May 9-11,https://www.boxofficemojo.com/weekend/2025W19/...,"$5,567,573",-0.488,"$5,985,658",-0.458,39,Yadang: The Snitch,https://www.boxofficemojo.com/release/rl247893...,"Action, Crime, Drama",-,-,19,https://www.boxofficemojo.com/weekend/2025W19/...,False,South Korea
772,Apr 25-27,https://www.boxofficemojo.com/weekend/2025W17/...,"$6,899,255",0.262,"$7,148,901",0.23,42,Yadang: The Snitch,https://www.boxofficemojo.com/release/rl247893...,"Action, Crime, Drama",-,-,17,https://www.boxofficemojo.com/weekend/2025W17/...,False,South Korea
773,Apr 18-20,https://www.boxofficemojo.com/weekend/2025W16/...,"$5,468,151",0.533,"$5,810,879",0.458,43,Yadang: The Snitch,https://www.boxofficemojo.com/release/rl247893...,"Action, Crime, Drama",-,-,16,https://www.boxofficemojo.com/weekend/2025W16/...,False,South Korea

In [6]:
df = df.drop_duplicates()

In [7]:
df.shape

(736, 16)

In [8]:
def format_dates_from_week(row):
    date_str = row['Dates']
    week_num = int(row['Week'])
    
    if not isinstance(date_str, str):
        return pd.NaT

    parts = date_str.split()
    if len(parts) == 2:
        month = parts[0]
        start_day = parts[1].split('-')[0]

        # Estimate year from week number (assume 2025 if week > 45, else 2024)
        # Adjust logic as needed based on your data
        year = 2025 if week_num <= 52 else 2024
        
        try:
            return pd.to_datetime(f"{month} {start_day} {year}")
        except:
            return pd.NaT
    return pd.NaT

df['Formatted_Date'] = df.apply(format_dates_from_week, axis=1)

In [9]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country,Formatted_Date
0,Nov 10-12,https://www.boxofficemojo.com/weekend/2023W45/...,-,-,-,-,-,-,NaN,Not found,-,-,45,https://www.boxofficemojo.com/weekend/2023W45/...,False,Canada,2025-11-10
1,Nov 3-5,https://www.boxofficemojo.com/weekend/2023W44/...,-,-,-,-,-,-,NaN,Not found,-,-,44,https://www.boxofficemojo.com/weekend/2023W44/...,False,Canada,2025-11-03
6,May 3-5,https://www.boxofficemojo.com/weekend/2024W18/...,-,-,-,-,-,-,NaN,Not found,-,-,18,https://www.boxofficemojo.com/weekend/2024W18/...,False,Ireland,2025-05-03
7,May 23-25,https://www.boxofficemojo.com/weekend/2025W21/...,-,-,-,-,-,-,NaN,Not found,-,-,21,https://www.boxofficemojo.com/weekend/2025W21/...,False,Venezuela,2025-05-23
8,May 16-18,https://www.boxofficemojo.com/weekend/2025W20/...,-,-,-,-,-,-,NaN,Not found,-,-,20,https://www.boxofficemojo.com/weekend/2025W20/...,False,Venezuela,2025-05-16

In [10]:
df['Month'] = df['Formatted_Date'].dt.month_name()
df['Year'] = df['Formatted_Date'].dt.year

In [11]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country,Formatted_Date,Month,Year
0,Nov 10-12,https://www.boxofficemojo.com/weekend/2023W45/...,-,-,-,-,-,-,NaN,Not found,-,-,45,https://www.boxofficemojo.com/weekend/2023W45/...,False,Canada,2025-11-10,November,2025.0
1,Nov 3-5,https://www.boxofficemojo.com/weekend/2023W44/...,-,-,-,-,-,-,NaN,Not found,-,-,44,https://www.boxofficemojo.com/weekend/2023W44/...,False,Canada,2025-11-03,November,2025.0
6,May 3-5,https://www.boxofficemojo.com/weekend/2024W18/...,-,-,-,-,-,-,NaN,Not found,-,-,18,https://www.boxofficemojo.com/weekend/2024W18/...,False,Ireland,2025-05-03,May,2025.0
7,May 23-25,https://www.boxofficemojo.com/weekend/2025W21/...,-,-,-,-,-,-,NaN,Not found,-,-,21,https://www.boxofficemojo.com/weekend/2025W21/...,False,Venezuela,2025-05-23,May,2025.0
8,May 16-18,https://www.boxofficemojo.com/weekend/2025W20/...,-,-,-,-,-,-,NaN,Not found,-,-,20,https://www.boxofficemojo.com/weekend/2025W20/...,False,Venezuela,2025-05-16,May,2025.0

In [12]:
df = df[df['#1 Release'].notna() & (df['#1 Release'] != '-')]

In [13]:
df.shape

(726, 19)

In [14]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country,Formatted_Date,Month,Year
14,Mar 13-16,https://www.boxofficemojo.com/weekend/2025W11/...,"$138,295",0.7,"$161,749",0.593,21,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",-,-,11,https://www.boxofficemojo.com/weekend/2025W11/...,False,Slovenia,2025-03-13,March,2025.0
15,Feb 27-Mar 2,https://www.boxofficemojo.com/weekend/2025W09/...,"$143,827",-0.263,"$164,114",-0.224,22,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",-,-,9,https://www.boxofficemojo.com/weekend/2025W09/...,False,Slovenia,NaT,NaN,NaN
16,Mar 1-2,https://www.boxofficemojo.com/weekend/2025W09/...,"$7,184,135",-0.297,"$7,930,330",-0.245,18,1st Kiss,https://www.boxofficemojo.com/release/rl875790...,Romance,-,-,9,https://www.boxofficemojo.com/weekend/2025W09/...,False,Japan,2025-03-01,March,2025.0
17,Jan 24-26,https://www.boxofficemojo.com/weekend/2025W04/...,"$328,042",-0.441,"$353,956",-0.445,22,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",-,-,4,https://www.boxofficemojo.com/weekend/2025W04/...,False,Vietnam,2025-01-24,January,2025.0
18,Jan 17-19,https://www.boxofficemojo.com/weekend/2025W03/...,"$586,571",-0.427,"$637,684",-0.429,24,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",-,-,3,https://www.boxofficemojo.com/weekend/2025W03/...,False,Vietnam,2025-01-17,January,2025.0

In [15]:
currency_cols = ['Top 10 Gross', 'Overall Gross']

for col in currency_cols:
    df[col] = df[col].replace('[\$,]', '', regex=True).astype(float)
# remember currency is USD here

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\RTemp\ipykernel_16420\3205045003.py:4: SyntaxWarning: invalid escape sequence '\$'
  df[col] = df[col].replace('[\$,]', '', regex=True).astype(float)

In [16]:
df['%± LW'] = pd.to_numeric(df['%± LW'], errors='coerce')
df['%± LW1'] = pd.to_numeric(df['%± LW1'], errors='coerce')

In [17]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,Budget,Running Time,Week,Week Url,Long Weekend,Country,Formatted_Date,Month,Year
14,Mar 13-16,https://www.boxofficemojo.com/weekend/2025W11/...,138295.0,0.700,161749.0,0.593,21,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",-,-,11,https://www.boxofficemojo.com/weekend/2025W11/...,False,Slovenia,2025-03-13,March,2025.0
15,Feb 27-Mar 2,https://www.boxofficemojo.com/weekend/2025W09/...,143827.0,-0.263,164114.0,-0.224,22,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",-,-,9,https://www.boxofficemojo.com/weekend/2025W09/...,False,Slovenia,NaT,NaN,NaN
16,Mar 1-2,https://www.boxofficemojo.com/weekend/2025W09/...,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,https://www.boxofficemojo.com/release/rl875790...,Romance,-,-,9,https://www.boxofficemojo.com/weekend/2025W09/...,False,Japan,2025-03-01,March,2025.0
17,Jan 24-26,https://www.boxofficemojo.com/weekend/2025W04/...,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",-,-,4,https://www.boxofficemojo.com/weekend/2025W04/...,False,Vietnam,2025-01-24,January,2025.0
18,Jan 17-19,https://www.boxofficemojo.com/weekend/2025W03/...,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",-,-,3,https://www.boxofficemojo.com/weekend/2025W03/...,False,Vietnam,2025-01-17,January,2025.0

In [18]:
import pandas as pd
import requests
from time import sleep
from tqdm import tqdm

API_KEY = '#ADD YOUR OMDB API KEY'

# Enable progress bar
tqdm.pandas()

# Function to fetch data from OMDb
def fetch_omdb_data(title):
    sleep(0.5)  # avoid rate-limit
    params = {'t': title, 'apikey': API_KEY}
    try:
        res = requests.get('http://www.omdbapi.com/', params=params).json()
        if res.get('Response') == 'True':
            return pd.Series({
                'OMDB_Runtime': res.get('Runtime'),
                'OMDB_Genre': res.get('Genre'),
                'OMDB_imdbID': res.get('imdbID'),
                'OMDB_Budget': res.get('BoxOffice')
            })
        else:
            return pd.Series({
                'OMDB_Runtime': None,
                'OMDB_Genre': None,
                'OMDB_imdbID': None,
                'OMDB_Budget': None
            })
    except:
        return pd.Series({
            'OMDB_Runtime': None,
            'OMDB_Genre': None,
            'OMDB_imdbID': None,
            'OMDB_Budget': None
        })

# Apply function to the '#1 Release' column
df[['OMDB_Runtime', 'OMDB_Genre', 'OMDB_imdbID', 'OMDB_Budget']] = df['#1 Release'].progress_apply(fetch_omdb_data)

100%|████████████████████████████████████████████████████████████████████████████████| 726/726 [07:59<00:00,  1.51it/s]

In [19]:
df.head()

,Dates,Dates Url,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,#1 Release Url,Genre,...,Week Url,Long Weekend,Country,Formatted_Date,Month,Year,OMDB_Runtime,OMDB_Genre,OMDB_imdbID,OMDB_Budget
14,Mar 13-16,https://www.boxofficemojo.com/weekend/2025W11/...,138295.0,0.700,161749.0,0.593,21,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",...,https://www.boxofficemojo.com/weekend/2025W11/...,False,Slovenia,2025-03-13,March,2025.0,88 min,"Animation, Comedy, Family",tt7959138,N/A
15,Feb 27-Mar 2,https://www.boxofficemojo.com/weekend/2025W09/...,143827.0,-0.263,164114.0,-0.224,22,10 Lives,https://www.boxofficemojo.com/release/rl674594...,"Animation, Comedy, Family",...,https://www.boxofficemojo.com/weekend/2025W09/...,False,Slovenia,NaT,NaN,NaN,88 min,"Animation, Comedy, Family",tt7959138,N/A
16,Mar 1-2,https://www.boxofficemojo.com/weekend/2025W09/...,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,https://www.boxofficemojo.com/release/rl875790...,Romance,...,https://www.boxofficemojo.com/weekend/2025W09/...,False,Japan,2025-03-01,March,2025.0,N/A,Romance,tt33509780,N/A
17,Jan 24-26,https://www.boxofficemojo.com/weekend/2025W04/...,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",...,https://www.boxofficemojo.com/weekend/2025W04/...,False,Vietnam,2025-01-24,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A
18,Jan 17-19,https://www.boxofficemojo.com/weekend/2025W03/...,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,https://www.boxofficemojo.com/release/rl958693...,"Comedy, Horror",...,https://www.boxofficemojo.com/weekend/2025W03/...,False,Vietnam,2025-01-17,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A

In [51]:
df.to_csv('safer_side.csv', index=False)

In [56]:
df.columns

Index(['Dates', 'Top 10 Gross', '%± LW', 'Overall Gross', '%± LW1', 'Releases',
       '#1 Release', 'Genre', 'Week Url', 'Long Weekend', 'Country',
       'Formatted_Date', 'Month', 'Year', 'OMDB_Runtime', 'OMDB_Genre',
       'OMDB_imdbID', 'OMDB_Budget'],
      dtype='object')

In [58]:
df = df.drop(['Dates','Week Url','Genre'], axis=1)

In [76]:
df.head(20)

,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,OMDB_Runtime,OMDB_Genre,OMDB_imdbID,OMDB_Budget
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,"Animation, Comedy, Family",tt7959138,N/A
15,143827.0,-0.263,164114.0,-0.224,22,10 Lives,False,Slovenia,NaT,NaN,NaN,88 min,"Animation, Comedy, Family",tt7959138,N/A
16,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,False,Japan,2025-03-01,March,2025.0,N/A,Romance,tt33509780,N/A
17,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A
18,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A
19,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A
20,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,N/A,"Comedy, Horror",tt32362537,N/A
21,7555281.0,-0.168,10070826.0,-0.068,48,A Complete Unknown,False,United Kingdom,NaT,NaN,NaN,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
22,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
23,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
24,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
25,7781586.0,-0.064,11231013.0,-0.046,33,A Complete Unknown,False,France,NaT,NaN,NaN,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
26,4104102.0,0.066,5018835.0,0.081,71,A Complete Unknown,False,Spain,NaT,NaN,NaN,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
27,797606.0,0.318,803441.0,0.321,13,A Complete Unknown,False,Switzerland,2025-03-12,March,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
28,136087.0,-0.002,152442.0,NaN,21,A Complete Unknown,False,Slovenia,2025-01-23,January,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
29,463071.0,-0.164,696711.0,-0.033,33,A Complete Unknown,False,Romania,2025-02-07,February,2025.0,141 min,"Biography, Drama, Music",tt11563598,"$74,998,243"
30,8016995.0,2.796,8020166.0,2.790,14,A Minecraft Movie,False,Brazil,2025-04-03,April,2025.0,101 min,"Action, Adventure, Comedy",tt3566834,"$409,163,240"
32,4832430.0,-0.667,4832430.0,-0.667,4,A Minecraft Movie,False,China,2025-04-11,April,2025.0,101 min,"Action, Adventure, Comedy",tt3566834,"$409,163,240"
33,14518582.0,63.678,14518582.0,63.678,3,A Minecraft Movie,False,China,2025-04-04,April,2025.0,101 min,"Action, Adventure, Comedy",tt3566834,"$409,163,240"
34,13435020.0,-0.142,14756090.0,-0.107,66,A Minecraft Movie,False,United Kingdom,2025-04-25,April,2025.0,101 min,"Action, Adventure, Comedy",tt3566834,"$409,163,240"

In [78]:
df = df.dropna(subset=['OMDB_Genre'])

In [82]:
df['OMDB_Genre'].isnull().sum()

0

In [84]:
df['OMDB_Genre'] = df['OMDB_Genre'].str.strip()

In [86]:
df['OMDB_Genre'] = df['OMDB_Genre'].str.split(',')
df = df.explode('OMDB_Genre')
df['OMDB_Genre'] = df['OMDB_Genre'].str.strip()

In [88]:
df['OMDB_Budget'] = df['OMDB_Budget'].str.replace('[\$,]', '', regex=True)
df['OMDB_Budget'] = pd.to_numeric(df['OMDB_Budget'], errors='coerce')

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\RTemp\ipykernel_16420\2706401139.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['OMDB_Budget'] = df['OMDB_Budget'].str.replace('[\$,]', '', regex=True)

In [90]:
df.shape

(1868, 15)

In [92]:
df.head()

,Top 10 Gross,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,OMDB_Runtime,OMDB_Genre,OMDB_imdbID,OMDB_Budget
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Animation,tt7959138,NaN
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Comedy,tt7959138,NaN
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Family,tt7959138,NaN
15,143827.0,-0.263,164114.0,-0.224,22,10 Lives,False,Slovenia,NaT,NaN,NaN,88 min,Animation,tt7959138,NaN
15,143827.0,-0.263,164114.0,-0.224,22,10 Lives,False,Slovenia,NaT,NaN,NaN,88 min,Comedy,tt7959138,NaN

In [94]:
df.rename(columns={
    'Top 10 Gross': 'Rank',
    'OMDB_Genre': 'Genre',
    'OMDB_Budget': 'Budget',
    'OMDB_Runtime': 'Runtime',
    'OMDB_imdbID': 'IMDb_ID'
}, inplace=True)

In [96]:
df.head()

,Rank,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,Runtime,Genre,IMDb_ID,Budget
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Animation,tt7959138,NaN
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Comedy,tt7959138,NaN
14,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Family,tt7959138,NaN
15,143827.0,-0.263,164114.0,-0.224,22,10 Lives,False,Slovenia,NaT,NaN,NaN,88 min,Animation,tt7959138,NaN
15,143827.0,-0.263,164114.0,-0.224,22,10 Lives,False,Slovenia,NaT,NaN,NaN,88 min,Comedy,tt7959138,NaN

In [100]:
df['Formatted_Date'].isnull().sum()

248

In [104]:
df[df['Formatted_Date'].isnull()][['Formatted_Date']]

    Formatted_Date
15             NaT
15             NaT
15             NaT
21             NaT
21             NaT
..             ...
723            NaT
736            NaT
736            NaT
736            NaT
764            NaT

[248 rows x 1 columns]

In [106]:
df = df.dropna(subset=['Formatted_Date', 'Month', 'Year']).reset_index(drop=True)

In [108]:
df[['Formatted_Date', 'Month', 'Year']].isnull().sum()

Formatted_Date    0
Month             0
Year              0
dtype: int64

In [110]:
df['Runtime'].isnull().sum()

0

In [112]:
df['Budget'].isnull().sum()

271

In [114]:
df['Budget'] = df.groupby('Genre')['Budget'].transform(lambda x: x.fillna(x.median()))

In [116]:
df.head(20)

,Rank,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,Runtime,Genre,IMDb_ID,Budget
0,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Animation,tt7959138,254567693.0
1,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Comedy,tt7959138,236115100.0
2,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88 min,Family,tt7959138,86656856.0
3,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,False,Japan,2025-03-01,March,2025.0,N/A,Romance,tt33509780,21474035.0
4,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,N/A,Comedy,tt32362537,236115100.0
5,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,N/A,Horror,tt32362537,74346140.0
6,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,N/A,Comedy,tt32362537,236115100.0
7,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,N/A,Horror,tt32362537,74346140.0
8,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,N/A,Comedy,tt32362537,236115100.0
9,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,N/A,Horror,tt32362537,74346140.0
10,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,N/A,Comedy,tt32362537,236115100.0
11,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,N/A,Horror,tt32362537,74346140.0
12,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141 min,Biography,tt11563598,74998243.0
13,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141 min,Drama,tt11563598,74998243.0
14,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141 min,Music,tt11563598,74998243.0
15,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141 min,Biography,tt11563598,74998243.0
16,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141 min,Drama,tt11563598,74998243.0
17,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141 min,Music,tt11563598,74998243.0
18,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141 min,Biography,tt11563598,74998243.0
19,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141 min,Drama,tt11563598,74998243.0

In [118]:
df['Runtime'] = df['Runtime'].str.replace(' min', '', regex=False)
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

In [120]:
df['Runtime'].isnull().sum()

76

In [122]:
df.shape

(1620, 15)

In [124]:
df['Genre'].unique()

array(['Animation', 'Comedy', 'Family', 'Romance', 'Horror', 'Biography',
       'Drama', 'Music', 'Action', 'Adventure', 'Thriller', 'N/A',
       'Mystery', 'Sci-Fi', 'Crime', 'Fantasy', 'History', 'Sport',
       'Musical'], dtype=object)

In [126]:
df.head(20)

,Rank,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,Runtime,Genre,IMDb_ID,Budget
0,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Animation,tt7959138,254567693.0
1,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Comedy,tt7959138,236115100.0
2,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Family,tt7959138,86656856.0
3,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,False,Japan,2025-03-01,March,2025.0,NaN,Romance,tt33509780,21474035.0
4,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,NaN,Comedy,tt32362537,236115100.0
5,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,NaN,Horror,tt32362537,74346140.0
6,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,NaN,Comedy,tt32362537,236115100.0
7,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,NaN,Horror,tt32362537,74346140.0
8,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,NaN,Comedy,tt32362537,236115100.0
9,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,NaN,Horror,tt32362537,74346140.0
10,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,NaN,Comedy,tt32362537,236115100.0
11,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,NaN,Horror,tt32362537,74346140.0
12,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Biography,tt11563598,74998243.0
13,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Drama,tt11563598,74998243.0
14,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Music,tt11563598,74998243.0
15,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Biography,tt11563598,74998243.0
16,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Drama,tt11563598,74998243.0
17,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Music,tt11563598,74998243.0
18,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Biography,tt11563598,74998243.0
19,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Drama,tt11563598,74998243.0

In [128]:
df['Runtime'] = df.groupby('Genre')['Runtime'].transform(lambda x: x.fillna(x.median()))

In [130]:
df.head(20)

,Rank,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,Runtime,Genre,IMDb_ID,Budget
0,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Animation,tt7959138,254567693.0
1,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Comedy,tt7959138,236115100.0
2,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Family,tt7959138,86656856.0
3,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,False,Japan,2025-03-01,March,2025.0,124.0,Romance,tt33509780,21474035.0
4,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,101.0,Comedy,tt32362537,236115100.0
5,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,110.0,Horror,tt32362537,74346140.0
6,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,101.0,Comedy,tt32362537,236115100.0
7,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,110.0,Horror,tt32362537,74346140.0
8,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,101.0,Comedy,tt32362537,236115100.0
9,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,110.0,Horror,tt32362537,74346140.0
10,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,101.0,Comedy,tt32362537,236115100.0
11,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,110.0,Horror,tt32362537,74346140.0
12,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Biography,tt11563598,74998243.0
13,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Drama,tt11563598,74998243.0
14,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Music,tt11563598,74998243.0
15,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Biography,tt11563598,74998243.0
16,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Drama,tt11563598,74998243.0
17,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Music,tt11563598,74998243.0
18,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Biography,tt11563598,74998243.0
19,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Drama,tt11563598,74998243.0

In [132]:
df.isnull().sum()[df.isnull().sum() > 0]

%± LW       5
%± LW1     14
Runtime     7
Budget     10
dtype: int64

In [134]:
df['%± LW'] = df['%± LW'].fillna(0)
df['%± LW1'] = df['%± LW1'].fillna(0)

In [136]:
df['Runtime'] = df.groupby('Genre')['Runtime'].transform(lambda x: x.fillna(x.median()))

In [138]:
df['Budget'] = df.groupby('IMDb_ID')['Budget'].transform(lambda x: x.fillna(x.median()))

In [140]:
df.isnull().sum()[df.isnull().sum() > 0]

Runtime    7
Budget     7
dtype: int64

In [142]:
df.isnull().sum()

Rank              0
%± LW             0
Overall Gross     0
%± LW1            0
Releases          0
#1 Release        0
Long Weekend      0
Country           0
Formatted_Date    0
Month             0
Year              0
Runtime           7
Genre             0
IMDb_ID           0
Budget            7
dtype: int64

In [144]:
df[df['Runtime'].isnull()][['Genre', 'IMDb_ID']]
df[df['Budget'].isnull()][['Genre', 'IMDb_ID']]

    Genre     IMDb_ID
177   N/A  tt36450244
669   N/A  tt36808524
724   N/A  tt36343829
725   N/A  tt36343829
726   N/A  tt36343829
910   N/A  tt35676748
911   N/A  tt35676748

In [146]:
df['Runtime'] = df['Runtime'].fillna(df['Runtime'].median())
df['Budget'] = df['Budget'].fillna(df['Budget'].median())

In [148]:
df.isnull().sum()

Rank              0
%± LW             0
Overall Gross     0
%± LW1            0
Releases          0
#1 Release        0
Long Weekend      0
Country           0
Formatted_Date    0
Month             0
Year              0
Runtime           0
Genre             0
IMDb_ID           0
Budget            0
dtype: int64

In [150]:
df.head(20)

,Rank,%± LW,Overall Gross,%± LW1,Releases,#1 Release,Long Weekend,Country,Formatted_Date,Month,Year,Runtime,Genre,IMDb_ID,Budget
0,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Animation,tt7959138,254567693.0
1,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Comedy,tt7959138,236115100.0
2,138295.0,0.700,161749.0,0.593,21,10 Lives,False,Slovenia,2025-03-13,March,2025.0,88.0,Family,tt7959138,86656856.0
3,7184135.0,-0.297,7930330.0,-0.245,18,1st Kiss,False,Japan,2025-03-01,March,2025.0,124.0,Romance,tt33509780,21474035.0
4,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,101.0,Comedy,tt32362537,236115100.0
5,328042.0,-0.441,353956.0,-0.445,22,404 Run Run,False,Vietnam,2025-01-24,January,2025.0,110.0,Horror,tt32362537,74346140.0
6,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,101.0,Comedy,tt32362537,236115100.0
7,586571.0,-0.427,637684.0,-0.429,24,404 Run Run,False,Vietnam,2025-01-17,January,2025.0,110.0,Horror,tt32362537,74346140.0
8,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,101.0,Comedy,tt32362537,236115100.0
9,1023872.0,-0.191,1117224.0,-0.139,21,404 Run Run,False,Vietnam,2025-01-10,January,2025.0,110.0,Horror,tt32362537,74346140.0
10,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,101.0,Comedy,tt32362537,236115100.0
11,1265405.0,-0.378,1297354.0,-0.366,23,404 Run Run,False,Vietnam,2025-01-03,January,2025.0,110.0,Horror,tt32362537,74346140.0
12,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Biography,tt11563598,74998243.0
13,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Drama,tt11563598,74998243.0
14,9076692.0,-0.268,10805367.0,-0.248,47,A Complete Unknown,False,United Kingdom,2025-01-24,January,2025.0,141.0,Music,tt11563598,74998243.0
15,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Biography,tt11563598,74998243.0
16,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Drama,tt11563598,74998243.0
17,12404264.0,-0.153,14363407.0,-0.118,49,A Complete Unknown,False,United Kingdom,2025-01-17,January,2025.0,141.0,Music,tt11563598,74998243.0
18,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Biography,tt11563598,74998243.0
19,283431.0,-0.096,285645.0,-0.092,13,A Complete Unknown,False,Finland,2025-02-07,February,2025.0,141.0,Drama,tt11563598,74998243.0

In [152]:
df.to_csv('CLEANED_INTEGRATED_DATASET', index=False)

In [154]:
df.columns

Index(['Rank', '%± LW', 'Overall Gross', '%± LW1', 'Releases', '#1 Release',
       'Long Weekend', 'Country', 'Formatted_Date', 'Month', 'Year', 'Runtime',
       'Genre', 'IMDb_ID', 'Budget'],
      dtype='object')